# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe
bin/
obj/
# Rider / ReSharper
.idea/
*.resharper

# Otros archivos de compilación
*.log
# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Configs
appsettings.Development.json

__pycache__/
*.pyc
.venv/
env/
.env
*.h5
*.pb
models/
node_modules/
dist/
build/

back/node_modules/
front/node_modules/

# Build outputs
back/dist/
front/dist/

# VS Code
.vs/
.vscode/

# Environment variables
back/.env
front/.env
